{
  "extends": ["wesbos/typescript"],
  "rules": {
    "camelcase": "off",
    "no-plusplus": "off",
    "react/prop-types": "off",
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 4,
        "singleQuote": true,
        "trailingComma": true
      }
    ]
  }
}
